.git
.github
**/.turbo
**/.idea
**/.vscode
**/dist
**/node_modules
**/.env*
**/*.tsbuildinfo
.dockerignore
.editorconfig
.gitattributes
.gitignore
.nvmrc
CHANGELOG.md
CONTRIBUTING.md
Dockerfile
LICENSE
README.md
SECURITY.md
biome.json
